*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Navigations / Header **/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0% 3%;
    background-color: #24292E;
}

.mobile{
    display: none;
}


.github-logo-avatar{
    border: 1px solid #24292E;
    height: 35px;
    width: 35px;
    background-color: white;
    background-image: url("../images/github-icon.webp");
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.github-logo-avatar:hover{
    cursor: pointer;
    background-color: #a7abaf;
    opacity: 0.5;

}



.header-content-1{
    display: flex;
    justify-content: start;
    
}

.search-input{
    margin: auto 10px;
    display: inline-block;
    position: relative;
}


/* input[type=text] {
    
} */
.input-text{
    height: 30px;
    width: 250px;
    background-color: #24292E;
    border: 1px solid #444D56;
    color: #a7abaf;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 21px;
    border-radius: 7px;
    padding: 3px 10px;
    padding-right: 60px;
}

.add-on {
    border: 1px solid #444D56;
    color: #a7abaf;
    height: 18px;
    width: 18px;
    padding: 0px 5px;
    position: absolute;
    right: 10px;
    top: 6px;
    border-radius: 3px;
}





.fa-bell-o{
    color: #FFFFFF;
   font-size: 15px;
   margin: auto 0;
}

.fa-bell-o:hover{
    cursor: pointer;
    color: #a7abaf;
    opacity: 0.5;
}

.pop-overs{
    display: flex;
    justify-content: flex-end;
}

.notification-message{
    position: relative;
    right: 150px;
    bottom: 10px;
    display: none;
    color: #FFFFFF;
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    font-family: Segoe UI;
    font-size: 11px;
    background-color: #24292E;
}

.profile-actions{
    position: absolute;
    right: 55px;
    top: 50px;
    width: 180px;
    box-shadow: 3px 3px 3px 3px #E1E4E8;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: none;
    z-index: 2;
    
}



.username-container{
    padding: 12px;

}

.user-desc{
    font-family: Segoe UI;
    line-height: 21px;
    font-size: 14px;
    color: #24292E;
    
}

.bold{
    font-weight: 500;
}

.border{
    border: 1px solid #EAECEF;
}

.status-container{
    padding: 12px;
}

.set-status{
    padding: 7px;
    border: 1px solid #EAECEF;
    border-radius: 5px;
    font-family: Segoe UI;
    line-height: 20px;
    font-size: 12px;
    color: #91969C;
}

.fa-smile-o{
 font-size: 17px !important;
 color: #24292E;

}
.actions-container{
padding: 12px 0px;
}

.text-action{
    padding: 6px 12px;
    font-family: Segoe UI;
    line-height: 21px;
    font-size: 14px;
    color: #24292E;
}

.text-action:hover{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #0368D6;
}

.sup{
    position: relative;
    left: 6px;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: #2686F5;
    border-radius: 50%;
}

.header-links{
  margin: auto 10px;
  color: #FFFFFF;
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;

 }

 .header-links:hover{
     cursor: pointer;
     color: #a7abaf;
     opacity: 0.5;
 }

.header-content-2{
    display: flex;
    justify-content: end;
}

.header-icons-spacer{
    margin: auto 9px;
    

}

.plus{
    display: flex;
}

.add-icon{
    margin: auto 0;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 500;
}

.add-icon:hover{
    cursor: pointer;
    color: #a7abaf;
    opacity: 0.5;

}

 .fa-caret-down{
    margin: auto 5px;
    font-size: 11px !important;
    color: #FFFFFF; 
   
}

.fa-caret-down:hover{
    cursor: pointer;
    color: #a7abaf;
    opacity: 0.5;

}








.avatar{
    width: 22px;
    height: 22px;
    margin: auto 0;
    border-radius: 50%;
    background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
}



.header-navs{
    display: none;
}

/** Main content of the page **/
main{
    display: flex;
    justify-content: center;
    padding: 3% 5%;
    max-width: 1500px;
    margin: 0px auto;
    
}


.profile-details{
    width: 30%;
}

.image-container{
    margin: 2% 2%;
}

.image-container img{
    border-radius: 50%;
    width: 17.5rem;
    height: 17.5rem;
    object-fit: cover;
}

.smiley{
    position: absolute;
    top: 18.75rem;
    left: 20.313rem;
    background-color: #FFFFFF;
    color: #81878E;
    box-shadow: 1px 1px 1px 1px #E1E4E8;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
}


.status{
    display: none;
    margin-left: 5px;
    color: #81878E;
    font-family: Segoe UI;
    font-size: 12px;
 

}

.status:hover{
    color: #0368D6;  

}

.fa-smile-o:hover{
    color: #0368D6;

}

.hr{
   border: 1px solid #EAECEF;
   position: relative;
   top: 85px;
   z-index: -1;
  
}



.repo-details{
    width: 70%;
  
}

.tabs{
    display: flex;
  
}

.tab-one, .tab-two, .tab-three, .tab-four{
    display: flex;
    margin: 0px 20px;
    color: #24292E;
    font-size: 14px;
    line-height: 30px;
    font-family: Segoe UI;
    cursor: pointer;
}



.borders{
    display: flex;
    position: relative;
    top: 6px;
   
}

.tab-border{
   
    width: 100px;
    margin: 0% 1%;
    cursor: pointer;
}

.repo{
    border: 1px solid #F9826C;
    width: 160px;
    visibility: visible;
    
    
}




.over{
    border: 1px solid #F9826C;
    visibility: hidden;
   
  
}






.proj{
    border: 1px solid #F9826C;
    visibility: hidden;
    
}

.pack{
    border: 1px solid #F9826C;
    visibility: hidden;
    
}



.tab-item{
    margin: auto 5px;
}

.book-icon img{
    margin-top: 8px;

}

.repo-icon img{
    margin-top: 8px;

}

.badge{
    margin: auto 0px;
    font-family: Segoe UI;
    font-size: 11px;
    font-weight: 500;
    line-height: 10px;
    height: 18px;
    width: 18px;
    background-color: #E8EAEC; 
    border-radius: 40%;
}

.num{
    margin: 4px 3px;
}

.project-icon img{
    margin-top: 8px;

}

.cubic-icon img{
    margin-top: 8px;

}








@media screen and (min-width: 769px){
    /** Navigations / Header **/

    /* mobile nav links should be invisible on desktop when mobile nav is open */
    .nav-container{
        display: none;
    }

}


@media screen and (max-width: 768px){

    /** Navigations / Header **/
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .pop-overs{
        display: none;
    }

    .header-contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0% 3%;
        background-color: #24292E;

    }

    .hamburger{
        margin: auto 0px;
        color: #a7abaf;
    }

    .menu{
        height: 27px;
        width: 27px;
    }

    .header-navs{
        padding: 2% 3%;
        background-color: #24292E;
    }

    .search-input{
        margin: auto 10px;
        display: inline-block;
        position: relative;
      
    }

    .input-text{
        height: 30px;
        width: 90vw;
        background-color: #24292E;
        border: 1px solid #444D56;
        color: #a7abaf;
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 21px;
        border-radius: 7px;
        padding: 3px 10px;
        padding-right: 60px;
    }
    
    .add-on {
        border: 1px solid #444D56;
        color: #a7abaf;
        height: 18px;
        width: 18px;
        padding: 0px 5px;
        position: absolute;
        right: 10px;
        top: 6px;
        border-radius: 3px;
    }

    .mobile-actions{
        padding: 2% 3%;
    }

    .mobile-border{
        border: 1px solid #444D56;
        margin: 2px 0px;
    }

    .mobile-links{
        padding: 7px 0px;
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        font-weight: 500;
  
    }

    .with-profile-avatar{
        display: flex;
    
    }

    .avatar{
        margin-right: 5px;
    }

    .fa-sign{
        margin: auto 1px;
        padding-right: 3px;
        font-size: 15px;
    }

    .fa-sign-out{
        color: #FFFFFF;
    }

    .sign-out{
        display: flex;
    }

   





}