*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0% 3%;
    background-color: #24292E;
}


.github-logo-avatar{
    border: 1px solid #24292E;
    height: 35px;
    width: 35px;
    background-color: white;
    background-image: url("../images/github-icon.webp");
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.github-logo-avatar:hover{
    cursor: pointer;
    background-color: #a7abaf;
    opacity: 0.5;

}



.header-content-1{
    display: flex;
    justify-content: start;
    
}

.search-input{
    margin: auto 10px;
    display: inline-block;
    position: relative;
}


/* input[type=text] {
    
} */
.input-text{
    height: 30px;
    width: 250px;
    background-color: #24292E;
    border: 1px solid #444D56;
    color: #a7abaf;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 21px;
    border-radius: 7px;
    padding: 3px 10px;
    padding-right: 60px;
}

.add-on {
    border: 1px solid #444D56;
    color: #a7abaf;
    height: 18px;
    width: 18px;
    padding: 0px 5px;
    position: absolute;
    right: 10px;
    top: 6px;
    border-radius: 3px;
}





.fa-bell-o{
    color: #FFFFFF;
   font-size: 15px;
   margin: auto 0;
}

.fa-bell-o:hover{
    cursor: pointer;
    color: #a7abaf;
    opacity: 0.5;
}

.pop-overs{
    display: flex;
    justify-content: flex-end;
}

.notification-message{
    position: relative;
    right: 150px;
    bottom: 10px;
    display: none;
    color: #FFFFFF;
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    font-family: Segoe UI;
    font-size: 11px;
    background-color: #24292E;
}

.profile-actions{
    position: relative;
    right: 55px;
    bottom: 10px;
    width: 180px;
    box-shadow: 3px 3px 3px 3px #E1E4E8;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: none;
    
}

.username-container{
    padding: 12px;

}

.user-desc{
    font-family: Segoe UI;
    line-height: 21px;
    font-size: 14px;
    color: #24292E;
    
}

.bold{
    font-weight: 500;
}

.border{
    border: 1px solid #EAECEF;
}

.status-container{
    padding: 12px;
}

.set-status{
    padding: 7px;
    border: 1px solid #EAECEF;
    border-radius: 5px;
    font-family: Segoe UI;
    line-height: 20px;
    font-size: 12px;
    color: #91969C;
}

.fa-smile-o{
 font-size: 17px !important;
 color: #24292E;

}
.actions-container{
padding: 12px 0px;
}

.text-action{
    padding: 6px 12px;
    font-family: Segoe UI;
    line-height: 21px;
    font-size: 14px;
    color: #24292E;
}

.text-action:hover{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #0368D6;
}

.sup{
    position: relative;
    left: 6px;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: #2686F5;
    border-radius: 50%;
}

.header-links{
  margin: auto 10px;
  color: #FFFFFF;
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;

 }

 .header-links:hover{
     cursor: pointer;
     color: #a7abaf;
     opacity: 0.5;
 }

.header-content-2{
    display: flex;
    justify-content: end;
}

.header-icons-spacer{
    margin: auto 9px;
    

}

.plus{
    display: flex;
}

.add-icon{
    margin: auto 0;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 500;
}

.add-icon:hover{
    cursor: pointer;
    color: #a7abaf;
    opacity: 0.5;

}

 .fa-caret-down{
    margin: auto 5px;
    font-size: 11px !important;
    color: #FFFFFF; 
   
}

.fa-caret-down:hover{
    cursor: pointer;
    color: #a7abaf;
    opacity: 0.5;

}








.avatar{
    width: 22px;
    height: 22px;
    margin: auto 0;
    border-radius: 50%;
    background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
}